src/main/mule/db.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	
	<db:config name="Mysql_Database_Config" doc:name="Database Config" doc:id="3dbc1511-b330-47e5-9dcc-5009e10c91e7" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="Mes@fin123" />
	</db:config>
	<flow name="dbFlow" doc:id="0692363c-0dd7-4895-a741-7dceb7722766" >
		<db:insert doc:name="Insert" doc:id="69ee12f4-22d2-4864-ada6-dbe26a12276c" config-ref="Mysql_Database_Config">
			<db:sql ><![CDATA[INSERT INTO dbo.equity (`index`,symbol,operation,quantity,price) values
(
:index,
:symbol,
:operation,
:quantity,
:price
)]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
index: "NASDAQ",
symbol:"USDAUD",
operation:"sell",
quantity:20,
price:50
}]]]></db:input-parameters>
			<db:auto-generated-keys-column-names />
		</db:insert>
		<logger level="INFO" doc:name="Logger" doc:id="5aa599bf-59d5-49ba-9790-421372b597b3" message="#[payload]"/>
	</flow>
</mule>
